/*************************************
GENERAL
*************************************/

body {
	font-family: 'Open Sans', sans-serif;
}
#wrapper{
	max-width: 948px;
	margin: 0 auto;
	padding: 0 5%;	
}

h3, #wrapper ul li{
	text-align: left;
	
}

#wrapper #primary p {
	text-align: left;
}


#wrapper #secondary p {
	text-align: left;
}


#wrapper #prim p {
	text-align: left;
}


#wrapper #sec p {
	text-align: left;
}


a {
	text-decoration: none;
}

img {
	max-width: 100%;
}


/* LOGO TEXTS */
#logo{
	text-align: center;
	margin: 0;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}


h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}


h3 {
	margin: 0 0 1em 0;
}
/*************************************
NAVIGATION
*************************************/
nav{
	text-align: left;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}


/*************************************
PAGE: ABOUT
*************************************/
.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
}

/*************************************
PAGE: CONTACT
*************************************/

#primary {
	width: 20%;
	float: left;
}
	
#secondary {
	width: 70%;
	float: right;
}


#prim {
	width: 50%;
	float: left;
}
	
#sec {
	width: 40%;
	float: right;
}

	
.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.phone a {
	background-image: url('../images/phone.png');
}

.contact-info li.mail a {
	background-image: url('../images/mail.png');
}

.contact-info li.twitter a {
	background-image: url('../images/twitter.png');
}

